div#LumiseDesign div#lumise-navigations,
div#lumise-top-tools>ul.lumise-top-nav li button:not(.white), 
#LumiseDesign button.lumise-btn:not(.white),
div#lumise-workspace .lumise-save-color i:hover,
div#LumiseDesign div#lumise-navigations ul[data-block] li[data-view="list"] ul[data-view="sub"] li:not([data-view="sp"]):hover,
div#LumiseDesign div#lumise-navigations ul[data-block="right"]>li[data-tool="languages"] i,
ul#lumise-saved-designs li[data-editing]:after,
.lumise-switch .lumise-toggle-button:checked~.lumise-toggle-label,
.lumise-toggle input:checked ~ .lumise-toggle-label,
.lumise_form_group input[type="submit"],
.lumise_form_group .img-preview label,
.lumise_sidebar ul.lumise_menu > li > a:before,
.lumise_submit:hover,
.lumise_header .add_new:hover,
.btn-toggle-sidebar:hover,
.lumise_backtotop:hover,
#lumise-select-language header .close-pop:hover:before, 
#lumise-select-language header .close-pop:hover:after,
body .lumise-btn-primary,
.lumise_radios .lumise-radio input:checked ~ label .check:before,
#lumise-popup .lumise-popup-content ul.lumise-stagle-list-base li:hover img,
.lumise_form_group .lumise_form_content button[data-func="create-color"],
.lumise_radios .radio input:checked ~ label .check:before,
.lumise_content button[data-btn="primary"],
#lumise-left #lumise-uploads header button:hover,
#lumise-left #lumise-uploads header button.active,
#lumise-left #lumise-x-thumbn-preview .lumise-categories-wrp ul li.active p,
#lumise-left #lumise-x-thumbn-preview .lumise-categories-wrp ul li:after,
div#LumiseDesign div#lumise-navigations ul[data-block][data-resp="file"].active,
#lumise-lightbox #lumise-change-products-wrp ul[data-view="categories"] li.active,
#lumise-lightbox #lumise-change-products-wrp ul[data-view="products"] li[data-current="true"]:after,
#lumise-list-colors #lumise-list-colors-body .col .create-color-grp button[data-func="apply-now"],
.bgcolorafter:after,
.bgcolor{
	background-color: %color% !important;
}

input[type=range]::-webkit-slider-thumb{
	background-color: %color% !important;
}
div#LumiseDesign div#lumise-left>div.lumise-left-nav-wrp>ul.lumise-left-nav li:hover,
#lumise-cliparts .lumise-cliparts-search i,
#lumise-left .lumise-xitems-search i,
#lumise-left #lumise-cliparts-preview>header>span,
div#lumise-top-tools ul[data-mode-text] .text-format.selected,
div#lumise-top-tools>ul.lumise-top-nav>li:hover [data-tip="true"] > i,
div#lumise-top-tools>ul.lumise-top-nav>li.active [data-tip="true"] > i,
div#LumiseDesign div#lumise-navigations ul[data-block="right"]>li[data-tool="languages"] li:hover>i,
.lumise_sidebar ul li a:hover, 
.lumise_sidebar ul li a.active, 
.lumise_sidebar ul li a:hover i, 
.lumise_sidebar ul li a.active i,
.lumise_content .lumise_table a,
.lumise_breadcrumb li span,
#lumise-popup ul li:hover,
#LumiseDesign a,
.lumise-color,
div#lumise-product nav>price,
#lumise-left #lumise-x-thumbn-preview>header>span,
#lumise-cliparts .lumise-cliparts-search i, #lumise-templates .lumise-templates-search i, #lumise-left .lumise-xitems-search i,
.lumise_dashbroad a{
	color: %color% !important;
}
.lumise_content a,
#lumise-lightbox #lumise-change-products-wrp ul[data-view="products"] li span[data-view="price"]{
	color: %color%;
}
div#LumiseDesign div#lumise-navigations #lumise-share-nav li[data-view="header"] span[data-active="true"],
#lumise-left #lumise-uploads header button.active:after {
	border-top-color: %color% !important;
}
.lumise_header .add_new:hover,
.lumise_backtotop:hover,
.lumise_radios .lumise-radio input:checked ~ label .check,
.lumise_radios .radio input:checked ~ label .check,
.lumise-cart-options .lumise-prints .lumise_form_group .lumise_form_content input:checked + label,
#lumise-list-colors #lumise-list-colors-body .col li i.fa:after {
	border-color: %color% !important;
}
#lumise-shapes svg:hover,
.lumise_checkbox input:checked ~ label .check svg path{
	fill: %color% !important;
}
div#lumise-top-tools>ul.lumise-top-nav li[data-tool] ul[data-view="sub"] li#lumise-text-effect span[data-sef="images"] img:hover, 
div#lumise-top-tools>ul.lumise-top-nav li[data-tool] ul[data-view="sub"] li#lumise-text-effect span[data-sef="images"] img[data-selected="true"]{
	outline-color: %color% !important;
}

.lumise-cart-options .lumise-prints .lumise_form_group .lumise_form_content input:checked + label{
	box-shadow:  0 0 0 2px %color%;	
}
@media only screen and (max-width: 736px){
	html div#LumiseDesign div#lumise-left>div.lumise-left-nav-wrp>ul.lumise-left-nav li.active{
		background: %color% !important;
	}
}