@charset "UTF-8";

@font-face {
  font-family: "lumise";
  src:url("fonts/lumise.eot");
  src:url("fonts/lumise.eot?#iefix") format("embedded-opentype"),
    url("fonts/lumise.woff") format("woff"),
    url("fonts/lumise.ttf") format("truetype"),
    url("fonts/lumise.svg#lumise") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "lumise" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="lumisex-"]:before,
[class*=" lumisex-"]:before {
  font-family: "lumise" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lumisex-qrcode-1:before {
  content: "\e000";
}
.lumisex-background-color:before {
  content: "\e001";
}
.lumisex-character:before {
  content: "\e002";
}
.lumisex-android-add:before {
  content: "\e003";
}
.lumisex-android-close:before {
  content: "\e004";
}
.lumisex-android-done:before {
  content: "\e005";
}
.lumisex-android-remove:before {
  content: "\e006";
}
.lumisex-android-options:before {
  content: "\e007";
}
.lumisex-android-apps:before {
  content: "\e008";
}
.lumisex-cube:before {
  content: "\e009";
}
.lumisex-arrow-move:before {
  content: "\e00a";
}
.lumisex-android-open:before {
  content: "\e00b";
}
.lumisex-android-search:before {
  content: "\e00c";
}
.lumisex-android-color-palette:before {
  content: "\e00d";
}
.lumisex-android-bulb:before {
  content: "\e00e";
}
.lumisex-reply:before {
  content: "\e00f";
}
.lumisex-forward:before {
  content: "\e010";
}
.lumisex-waterdrop:before {
  content: "\e011";
}
.lumisex-floppy:before {
  content: "\e012";
}
.lumisex-android-download:before {
  content: "\e013";
}
.lumisex-paintbucket:before {
  content: "\e014";
}
.lumisex-letter:before {
  content: "\e015";
}
.lumisex-bold:before {
  content: "\e016";
}
.lumisex-italic:before {
  content: "\e017";
}
.lumisex-underline:before {
  content: "\e018";
}
.lumisex-align-center:before {
  content: "\e019";
}
.lumisex-align-justify:before {
  content: "\e01a";
}
.lumisex-align-left:before {
  content: "\e01b";
}
.lumisex-align-right:before {
  content: "\e01c";
}
.lumisex-text:before {
  content: "\e01d";
}
.lumisex-vector:before {
  content: "\e01e";
}
.lumisex-send-to-back:before {
  content: "\e01f";
}
.lumisex-printer:before {
  content: "\e020";
}
.lumisex-export:before {
  content: "\e021";
}
.lumisex-android-checkbox-outline-blank:before {
  content: "\e022";
}
.lumisex-arrows-ccw:before {
  content: "\e023";
}
.lumisex-android-arrow-back:before {
  content: "\e024";
}
.lumisex-android-arrow-down:before {
  content: "\e025";
}
.lumisex-android-arrow-up:before {
  content: "\e026";
}
.lumisex-android-arrow-forward:before {
  content: "\e027";
}
.lumisex-android-upload:before {
  content: "\e028";
}
.lumisex-ios-arrow-forward:before {
  content: "\e029";
}
.lumisex-ios-arrow-back:before {
  content: "\e02a";
}
.lumisex-help-buoy:before {
  content: "\e02b";
}
.lumisex-android-send:before {
  content: "\e02c";
}
.lumisex-grid-lines-streamline:before {
  content: "\e02d";
}
.lumisex-social-instagram:before {
  content: "\e02e";
}
.lumisex-social-facebook:before {
  content: "\e02f";
}
.lumisex-social-flickr:before {
  content: "\e030";
}
.lumisex-camera:before {
  content: "\e031";
}
.lumisex-android-contact:before {
  content: "\e032";
}
.lumisex-edit:before {
  content: "\e033";
}
.lumisex-trash-b:before {
  content: "\e034";
}
.lumisex-android-star-outline:before {
  content: "\e035";
}
.lumisex-android-sunny:before {
  content: "\e036";
}
.lumisex-contrast:before {
  content: "\e037";
}
.lumisex-android-radio-button-on:before {
  content: "\e038";
}
.lumisex-gear-a:before {
  content: "\e039";
}
.lumisex-wand:before {
  content: "\e03a";
}
.lumisex-crop:before {
  content: "\e03b";
}
.lumisex-erlenmeyer-flask-bubbles:before {
  content: "\e03c";
}
.lumisex-tshirt-outline:before {
  content: "\e03d";
}
.lumisex-move-vertical:before {
  content: "\e03e";
}
.lumisex-move-horizontal:before {
  content: "\e03f";
}
.lumisex-resize-arrow-down:before {
  content: "\e040";
}
.lumisex-resize-arrow-up:before {
  content: "\e041";
}
.lumisex-diamond:before {
  content: "\e042";
}
.lumisex-earser:before {
  content: "\e043";
}
.lumisex-bag:before {
  content: "\e044";
}
.lumisex-link:before {
  content: "\e045";
}
.lumisex-twitter-square:before {
  content: "\e046";
}
.lumisex-social-twitter:before {
  content: "\e047";
}
.lumisex-arrow-swap:before {
  content: "\e048";
}
.lumisex-phone-1:before {
  content: "\e049";
}
.lumisex-reload:before {
  content: "\e04a";
}
.lumisex-android-radio-button-off:before {
  content: "\e04b";
}
.lumisex-arrow-resize:before {
  content: "\e04c";
}
.lumisex-android-refresh:before {
  content: "\e04d";
}
.lumisex-android-done-all:before {
  content: "\e04e";
}
.lumisex-android-delete:before {
  content: "\e04f";
}
.lumisex-android-document:before {
  content: "\e050";
}
.lumisex-android-menu:before {
  content: "\e051";
}
.lumisex-android-more-horizontal:before {
  content: "\e052";
}
.lumisex-android-lock:before {
  content: "\e053";
}
.lumisex-android-unlock:before {
  content: "\e054";
}
.lumisex-android-sync:before {
  content: "\e055";
}
.lumisex-android-favorite-outline:before {
  content: "\e056";
}
.lumisex-android-create:before {
  content: "\e057";
}
.lumisex-android-checkbox-outline:before {
  content: "\e058";
}
.lumisex-android-home:before {
  content: "\e059";
}
.lumisex-android-arrow-dropup:before {
  content: "\e05a";
}
.lumisex-android-arrow-dropright:before {
  content: "\e05b";
}
.lumisex-android-arrow-dropdown:before {
  content: "\e05c";
}
.lumisex-android-arrow-dropleft:before {
  content: "\e05d";
}
.lumisex-android-alert:before {
  content: "\e05e";
}
.lumisex-android-checkmark-circle:before {
  content: "\e05f";
}
.lumisex-android-person:before {
  content: "\e060";
}
.lumisex-android-notifications-none:before {
  content: "\e061";
}
.lumisex-bug:before {
  content: "\e062";
}
.lumisex-social-pinterest:before {
  content: "\e063";
}
.lumisex-easel:before {
  content: "\e064";
}
.lumisex-earth:before {
  content: "\e065";
}
.lumisex-compose:before {
  content: "\e066";
}
.lumisex-image:before {
  content: "\e067";
}
.lumisex-images:before {
  content: "\e068";
}
.lumisex-film-marker:before {
  content: "\e06a";
}
.lumisex-android-map:before {
  content: "\e06d";
}
.lumisex-android-globe:before {
  content: "\e06f";
}
